.marker {
  background-color: transparent;
  position: absolute;
}

.marker-default {
  background-color: rgb(150, 150, 150);
  border: 1px solid rgb(150, 100, 100);
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  
  left: -16px;
  top: -37px;
  
  height: 30px;
  width: 30px;
}

.marker-default::after {
  background-color: black;
  border-radius: 50%;
  content: '';
  position: absolute;
  
  left: 8px;
  top: 9px;
  
  width: 11px;
  height: 11px;
}

.marker-description {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: none;
  position: absolute;
  padding: 10px;
}

.marker-description .marker-description-content {
    max-width: 100%;
    overflow: auto;
    text-align: justify;
}